In [7]:
import pandas as pd
import numpy as np

In [2]:
print("Cześć!")

Cześć!

In [6]:
X3 = np.random.randn(3, 3)
df = pd.DataFrame(X3, columns = ['col_1', "col_2", "col_3"], index = [

SyntaxError: unexpected EOF while parsing (3527311401.py, line 2)

In [10]:
X = pd.DataFrame(X)
print(X)

          0         1         2         3         4         5         6  \
0  0.903546 -1.679455  0.089294  0.488182 -0.598597  0.065265  1.134569
1  0.174907  0.578424 -0.254896 -0.266926  1.221174 -1.326546  0.151958
2 -1.376119  0.069458  0.143157  1.417783 -1.635714 -0.021300 -0.078569
3 -0.069021  1.325361 -0.578229  1.674710 -0.432434  0.017463 -0.398106
4 -0.852526 -1.012364 -1.236817 -0.112991 -1.555530  1.014424  1.050515
5 -0.040914  0.118637  1.684855 -0.960360 -1.133536 -0.605777 -0.551755
6  0.482396  0.870568  0.534196 -0.656404 -0.225738 -0.158208  0.436231
7  1.803530 -0.324551  1.016114  0.009822  0.473119  0.294780  1.431655
8 -0.902182  0.424371  0.153243  0.364620 -1.456128 -0.106913 -0.718037
9 -0.487075  0.600828 -1.239781  1.311657  0.907018 -0.768236  2.010667

          7         8         9
0 -0.631828  0.515868  0.442928
1 -1.485015  1.260712 -1.436854
2 -0.213892  0.979800 -1.986873
3  0.939498 -0.665088  0.672716
4  1.491052 -0.301205  1.189190
5  2.212485  0.215072 -0.465408
6 -0.745023 -0.891218  0.185883
7  1.294608  1.604501  2.049434
8  0.423532 -0.408448  0.345592
9  0.843064  0.751126  0.243693

## Series

In [8]:
!mkdir data

In [16]:
X.to_csv("data/test.csv", index = False)

In [21]:
movie_path = "https://raw.githubusercontent.com/PacktPublishing/Pandas-Cookbook/master/data/movie.csv"
movie = pd.read_csv(movie_path)
movie.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [25]:
movie = movie.sort_values('duration')
movie.reset_index(drop = True)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,Jane Clark,NaN,7.0,23.0,51.0,Traci Dinwiddie,344.0,NaN,Romance|Short,...,NaN,English,USA,NaN,13000.0,2007.0,281.0,5.2,1.85,30
1,Color,NaN,12.0,7.0,NaN,3.0,John Sparkes,45.0,NaN,Animation|Comedy|Family,...,12.0,English,UK,TV-G,NaN,NaN,7.0,8.3,NaN,834
2,Color,NaN,38.0,11.0,NaN,0.0,Seth Green,11.0,NaN,Animation|Comedy,...,75.0,English,USA,TV-MA,NaN,NaN,0.0,7.8,1.33,1000
3,Color,Clark Baker,1.0,14.0,0.0,37.0,Alan Pietruszewski,134.0,NaN,Horror|Sci-Fi|Short|Thriller,...,3.0,English,USA,NaN,NaN,2012.0,93.0,6.2,NaN,14
4,Color,Robert Greenwald,56.0,20.0,21.0,0.0,Jon Hunter,0.0,NaN,Documentary,...,70.0,English,USA,Not Rated,1500000.0,2005.0,0.0,6.8,1.85,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Color,NaN,2.0,NaN,NaN,206.0,John Jarratt,511.0,NaN,Drama|Horror|Thriller,...,6.0,English,Australia,NaN,NaN,NaN,457.0,7.1,2.00,954
4912,Color,Wajahat Rauf,6.0,NaN,3.0,4.0,Ayesha Omar,7.0,NaN,Comedy|Family,...,15.0,Urdu,Pakistan,NaN,1000000.0,2015.0,5.0,7.0,NaN,259
4913,Color,Joseph Kosinski,4.0,NaN,364.0,567.0,Lauren Cohan,22000.0,NaN,Action|Adventure|Fantasy|Sci-Fi,...,11.0,English,USA,NaN,NaN,2014.0,4000.0,8.1,NaN,1000
4914,Color,Valentine,NaN,NaN,0.0,NaN,Valentine,17.0,NaN,Romance,...,NaN,English,USA,PG-13,125000.0,2015.0,0.0,5.1,NaN,0
4915,Color,Daniel Mellitz,NaN,NaN,0.0,15.0,Chelse Swain,1000.0,NaN,Comedy|Drama,...,3.0,English,USA,NaN,NaN,2006.0,36.0,4.7,NaN,2

## Sort

In [36]:
movie = movie.sort_values('duration')
movie.head()
movie.reset_index()

,movie_title,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,The Touch,Color,Jane Clark,NaN,7.0,23.0,51.0,Traci Dinwiddie,344.0,NaN,...,NaN,English,USA,NaN,13000.0,2007.0,281.0,5.2,1.85,30
1,Shaun the Sheep,Color,NaN,12.0,7.0,NaN,3.0,John Sparkes,45.0,NaN,...,12.0,English,UK,TV-G,NaN,NaN,7.0,8.3,NaN,834
2,Robot Chicken,Color,NaN,38.0,11.0,NaN,0.0,Seth Green,11.0,NaN,...,75.0,English,USA,TV-MA,NaN,NaN,0.0,7.8,1.33,1000
3,Vessel,Color,Clark Baker,1.0,14.0,0.0,37.0,Alan Pietruszewski,134.0,NaN,...,3.0,English,USA,NaN,NaN,2012.0,93.0,6.2,NaN,14
4,Wal-Mart: The High Cost of Low Price,Color,Robert Greenwald,56.0,20.0,21.0,0.0,Jon Hunter,0.0,NaN,...,70.0,English,USA,Not Rated,1500000.0,2005.0,0.0,6.8,1.85,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Wolf Creek,Color,NaN,2.0,NaN,NaN,206.0,John Jarratt,511.0,NaN,...,6.0,English,Australia,NaN,NaN,NaN,457.0,7.1,2.00,954
4912,Karachi se Lahore,Color,Wajahat Rauf,6.0,NaN,3.0,4.0,Ayesha Omar,7.0,NaN,...,15.0,Urdu,Pakistan,NaN,1000000.0,2015.0,5.0,7.0,NaN,259
4913,Destiny,Color,Joseph Kosinski,4.0,NaN,364.0,567.0,Lauren Cohan,22000.0,NaN,...,11.0,English,USA,NaN,NaN,2014.0,4000.0,8.1,NaN,1000
4914,Romantic Schemer,Color,Valentine,NaN,NaN,0.0,NaN,Valentine,17.0,NaN,...,NaN,English,USA,PG-13,125000.0,2015.0,0.0,5.1,NaN,0
4915,The Naked Ape,Color,Daniel Mellitz,NaN,NaN,0.0,15.0,Chelse Swain,1000.0,NaN,...,3.0,English,USA,NaN,NaN,2006.0,36.0,4.7,NaN,2

## Column and Index Renaming

In [38]:
# col_name = {'color
# movie = movie.set_index("movie_title")
# movie.head()

In [46]:
movie_columns = movie.columns.tolist()
movie_columns

['color',
 'director_name',
 'num_critic_for_reviews',
 'duration',
 'director_facebook_likes',
 'actor_3_facebook_likes',
 'actor_2_name',
 'actor_1_facebook_likes',
 'gross',
 'genres',
 'actor_1_name',
 'num_voted_users',
 'cast_total_facebook_likes',
 'actor_3_name',
 'facenumber_in_poster',
 'plot_keywords',
 'movie_imdb_link',
 'num_user_for_reviews',
 'language',
 'country',
 'content_rating',
 'budget',
 'title_year',
 'actor_2_facebook_likes',
 'imdb_score',
 'aspect_ratio',
 'movie_facebook_likes']

In [48]:
movie_columns [0] = 'kolor'
movie.columns = movie_columns
movie_columns

['kolor',
 'director_name',
 'num_critic_for_reviews',
 'duration',
 'director_facebook_likes',
 'actor_3_facebook_likes',
 'actor_2_name',
 'actor_1_facebook_likes',
 'gross',
 'genres',
 'actor_1_name',
 'num_voted_users',
 'cast_total_facebook_likes',
 'actor_3_name',
 'facenumber_in_poster',
 'plot_keywords',
 'movie_imdb_link',
 'num_user_for_reviews',
 'language',
 'country',
 'content_rating',
 'budget',
 'title_year',
 'actor_2_facebook_likes',
 'imdb_score',
 'aspect_ratio',
 'movie_facebook_likes']

In [ ]:
movie_col = []
for n, col in enumerate